{% extends "blog/layout.html" %}
{% load static %}

{% block body %}
<div class="new-title">
    <h1>Reset Password</h1>
</div>
<div class="register-div">
    <form class="reset-form" action="{% url 'recover-password' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label">Email address:</label>
            {{ form.email }}
        </div>
        <input class="btn btn-primary" type="submit" value="Reset my password">
    </form>
</div>
{% endblock %}